/* main style */
/* body{
    margin: 0;
    padding: 0;
} */
/* Header related style */

.banner{
    width: 1320px;
    height: 600px;
    background-size: cover;
    text-align: center;
    background-image: url("../resources/Banner\ Image.png");
    margin: auto;
}

.pic{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 100%;
    height: 100%;
}
.Happy{
    width: 632px;
    margin: auto;
}
.Happy h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 400px;
    padding-top: 182px;
    margin-bottom: -40px;
    text-transform: capitalize;
}
.Happy h1{
    color: #FFF;
    font-size: 72px;
}
.section1{
    text-align: center;
    margin-bottom: 120px;
}
.snd-banner{}

.off{
    color: #F00;
    /* text-align: center; */
    font-size: 88px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: -23px;
    padding-bottom: 30px;
}
.p1{
    color: #F00;
    /* text-align: center; */
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}
.all{
    color: #070211;
    /* text-align: center; */
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

.image1{}

.photos{
    width: 802px;
    /* margin: auto; */
}

/* Section-2 related style */

.section-2{
    margin-bottom: 100px;
}
.rd-banner{
    background-image: url("../resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    margin: auto;
}
.op{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mm{
    padding-top: 126px;
    width: 697px;
    margin-bottom: 205px;
    margin-right: 30px;
}
.welcome{
    color: #FFF;
    font-family: 'Morriweather', sans-serif;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.p2{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
    margin-top: 0px;
    width: 100%;
}
.button-1{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
}

/* section-3 relted style */

.section-3{
    width: 1320px;
    height: 484px;
    margin-bottom: 120PX;
    margin: auto;
}
.contant{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320PX;
    height: 482px;
    margin: auto;
}
.contant-title{
    text-align: center;
    padding-top: 110px;
    padding-bottom: 100px;
}
.park-hotel{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    margin-top: -37px;
}
.span-1{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}
.contant-description{}

.button-2{
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border: none;
    outline: none;
}
.kham{
    width: 1320px;
    /* height: 7335px; */
    margin-bottom: 120PX;
    margin: auto;
    display: flex;
}
.kham-content{
    width: 1600px;
    height: 75px;
    background: #FFF;
}
.new{
    color: #F00;
    /* text-align: center; */
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    margin-bottom: 0;
}
.new-1{
    color: #070211;
    font-family: 'Morriweather', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
}
.p-3{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
}
.mmmmm{
    /* text-align: center;
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    border-radius: 364.844px; */
}
.kham-year{
    margin-top: 0;
    margin-bottom: 0;
    margin: ;
    width: 500px;
    height: 463px;
    flex-shrink: 0;
}
.mmmmm{
    margin: 50px auto;
    padding: 40px;
    width: 240px;
    height: 240px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.new-2024{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}
.p-4{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 0;
}
.kham-pic-2{
    text-align: center;
    width: 140px;
    height: 140px;
    margin-top: 43px;
}

/* section-5 relted style */

.section-5{
    text-align: center;
    margin-bottom: 120px;
    width: 1320px;
    margin: auto;
}
.WHAT{}
.fun{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.holiday{
    color: #F00;
    text-align: center;
    font-family: 'Morriweather', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 0px;
}
.holi{
    color: #070211;
    font-family: 'Morriweather', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 16px;
}
.pp{
    margin: auto;
    width: 60%;
}
.lal{
}
.alll{
    /* background-image: url('../resources/Rectangle\ 1.png'); */
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    width: 1320px;
    height: 535px;
    margin: auto;
}
.ful{
    margin-top: 60px;
    margin-bottom: 0px;
}
.chobi-1{}
.chobi-2{
    margin-top: 102px;
    margin-bottom: 0;
    margin-left: ;
}
.chobi-3{
    width: 206.841px;
    height: 206.841px;

}
.percent{
    margin-top: 100px;
    margin-bottom: 0px;
}
.chobi{
    text-align: center;
    width: 1320px;
    height: 229px;
    margin: auto;
}
.section-6{
    margin-bottom: 120px;
    width: 1320px;
    height: 1200px;
    margin: auto;
    margin-top: 120px;
}
.the-1{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.the-2{
    color: #070211;
    font-family: 'Morriweather', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.m-1{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 896px;
}
.bag-1{
    margin-bottom: 24px;
    margin-right: 12px;
}
.bag-2{
    margin-bottom: 24px;
    margin-right: 12px;
}
.juta{
    margin-bottom: 24px;
    margin-right: 12px;
}
.juta-2{
    margin-bottom: 24px;
    margin-right: 12px;
}
.chosma{
    margin-bottom: 24px;
    margin-right: 12px;
}
.churi{
    margin-bottom: 24px;
    margin-right: 12px;
}

/* section-7 relted style */

/* subscribe related style */
.section-7{
    margin-bottom: 120px;
    width: 1320px;
    height: 416px;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}
.subscribe{
    color: #070211;
    text-align: center;
    font-family: 'Morriweather', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.last-p{
  text-align: center;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 920px;
    margin: auto;
}

.box{
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}
.subscribe{
    margin-bottom: 22px;
}
.last{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.email{
    text-align: center;
    border-radius: 50px;
    background: #FFF;
    width: 648px;
    height: 72px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0;
}
.button-2{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    padding-top: 0;
}
.user{
    color: rgba(7, 2, 17, 0.30);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: none;
}

/* footer relatd style */

footer{
    width: 1320px;
    height: 609px;
    margin: auto;
    background: #070211;
    
}
.footer-cloume{
    display: flex;
   margin: 120px 00px 0px 50px;

}
.footer-title-3{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    width: 32%;
    margin-top: 100px;
    margin-bottom: 0;
    /* margin: auto; */
    
}
.footer-title{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-right: 0px;
    margin-left: 400px;
    margin-top: 100px;
}
.social-links{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 0px;
}
.last-footer{
    display: flex;
    padding: 50px;
}
.all-right-1{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500px;
    margin-bottom: 120px;
    margin-top: 0;
}
.unsubcribe-1{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-right: 0;
    margin-left: 730px;
    margin-bottom: 120px;
    margin-top: 0;
}
.hr{
    color: #070211;
}